<!DOCTYPE html>
<html lang="en">
<!-- Project Name: Responsive Login Page
Youtube: https://youtube.com/@devRasen
Copyright: 2023 ©MdRasen -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperacion contraseña | devRasen</title>
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="link.component.css" />
</head>

<body>
  <div class="container">
    <div class="pass-box">
      <form action="">
        <h2>Recover password</h2>
        <div class="input-box">
          <span class="icon"><i class="fa-solid fa-lock"></i></span>
          <input type="password" required placeholder="Password" />
        </div>
        
        <button type="submit">Send</button>
        
      </form>
    </div>
  </div>
</body>

</html>