<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Inicio de sesion</title>
</head>

<body> 
    <div class="container-form sign-in">
        <form class="formulario">
            <h2 class="create-account">Iniciar Sesion</h2>
            <div class="iconos">
                
                <div class="border-icon2">
                  <i class='bx bx-envelope'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
            <p class="cuenta-gratis">¿Aun no tienes una cuenta?</p>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Contraseña">
            <input type="button" value="Iniciar Sesion">
            <br>
            <a routerLink="/contra">¿Olvidaste tu Contraseña?</a>
        </form>
        <div class="welcome-back">
            <div class="message">
                <div class="titulo">Bienvenido de nuevo</div>
                <div class="parrafo">Si aun no tienes una cuenta por favor registrese aqui</div>
                <a routerLink="/newcount"><button class="sign-in-btn">
                Registrarse
              </button></a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>